<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content ng-controller="LoginwithGoogle" title="Oauth Secure">
    <button ng-hide="isSignedIn" class="button button-assertive button-block" ng-click="LoginwithGoogle()">Login with Google</button>

    <h3 ng-show="isSignedIn">
      Welcome {{userGivenName}}
    </h3>
  </ion-content>
</ion-modal-view>
